@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-gray-700;
  }

  a,
  a:visited {
    @apply font-bold text-blue-800;
  }

  a:active,
  a:focus,
  a:hover {
    @apply text-blue-500 underline outline-none;
  }

  h1 {
    @apply text-5xl;
  }

  h2 {
    @apply text-3xl py-3 bg-gray-100;
  }

  h2,
  p {
    @apply mb-4;
  }

  h2,
  li,
  p {
    @apply pl-2;
  }

  p {
    @apply leading-7;
  }

  li svg.rounded-full {
    @apply transition-colors duration-500;
  }

  li:hover svg.rounded-full {
    @apply border-blue-300;
  }
}
